* {
  outline: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  --var-main-color: #7a08f7;
  --var-main-color-darker: #290e47;
  --var-second-color: #73ff00;
  --var-second-color-darker: #375f17;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--var-main-color);
  color: aliceblue;
}

.gameContainer {
  margin: auto;
  width: 20%;
  padding: 2em;
  border-radius: 1em;
}

.gameTable {
  margin-top: 4em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.table__cell {
  height: 100px;
  display: flex;
  background-color: var(--var-main-color);

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lower:nth-child(even) {
  border: 0;
  border-left: 5px solid var(--var-main-color-darker);
  border-right: 5px solid var(--var-main-color-darker);
}

.upper:nth-child(even) {
  border: 0;
  border-left: 5px solid var(--var-main-color-darker);
  border-right: 5px solid var(--var-main-color-darker);
}

.table__cell-4 {
  border: 5px solid var(--var-main-color-darker);
}

.table__cell-5 {
  border-top: 5px solid var(--var-main-color-darker);
  border-bottom: 5px solid var(--var-main-color-darker);
}
.table__cell-3 {
  border-top: 5px solid var(--var-main-color-darker);
  border-bottom: 5px solid var(--var-main-color-darker);
}

.jogoHeader__btnRematch {
  width: 25%;
  border: 2px solid #00fffa;
  height: 2.5em;
  border-radius: 999px;
}

.jogoHeader__btnPlay {
  width: 25%;
  background-color: #00fffa;
  color: #144948;
  height: 2.5em;
  border-radius: 999px;
  font-weight: 800;
}

button.disabled {
  background-color: #00fffb43;
}
